---
// src/components/Hero.astro
---
<!-- section principal -->
<section
    id="Hero"
    class="bg-white/60 backdrop-blur-[12px] p-10 rounded-[2.5rem] shadow-[0_20px_40px_rgba(0,0,0,0.3)] text-center border border-white/80 ring-4 ring-white/40 transition-all duration-500 hover:scale-[1.01] mb-10"
>
    <div class="flex flex-col items-center justify-center text-left px-9">
        <!-- Imagen y nombre sara div general -->
        <div class="flex flex-row items-center mb-2 mr-15">
            <img 
                src="/images/sara.png" 
                alt="Logo SARA" 
                class="mx-auto w-32 h-32 md:w-48 md:h-48 lg:w-40 lg:h-40 rounded-full" 
            />
            <h1 class="text-9xl font-bold mt-2 bg-gradient-to-r from-cyan-500 via-purple-500 to-blue-600 bg-clip-text text-transparent">
                SARA
            </h1>
        </div>
        <div class="space-y-4 text-center">
            <p class="text-black text-1xl"><strong>Presiona el boton para ingresar al aplicativo.</strong></p>
            <!-- button Pagina SARA -->
            <a
            href="https://sarafrontend-git-main-andres-felipes-projects-b859d2f8.vercel.app"
            title="Página de SARA"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center gap-3 
                    px-8 py-4 text-lg 
                    sm:w-70
                    rounded-xl bg-gradient-to-r from-blue-400 to-blue-500 
                    text-white font-semibold
                    hover:from-blue-500 hover:to-blue-600 
                    hover:scale-105 transition duration-300 shadow-xl
                    sm:px-10 sm:py-5 sm:text-xl
                    xl:px-6 xl:py-3 xl:text-lg
                    md:w-104"
            >
            <img 
                src="/images/iconForm.png" 
                alt="Icono SARA" 
                class="w-8 h-8 sm:w-10 sm:h-10"
            />
            <span class="md:text-3xl xl:text-lg">Ir a SARA</span>
            </a>
        </div>
    </div>
</section>